/* footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    max-height: fit-content;
    background-color: hsla(0, 0%, 94%, 0.041);
    color: white;
    text-align: center;
    box-shadow: 10px 0px 10px 4px rgba(119, 0, 255, 0.123);
  } 
  
  footer p{
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
  }
  
  footer .copyrightContainer{
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    margin-right: 0.4rem;
  }
  
  footer .copyright{
    position: relative;
    display: flex;
    color: #006983;
    left: 0;
    bottom: 0;
    margin-left: 0.3rem;
  }
  
  
  footer .countryContainer{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    margin-left: 0.4rem;
  }
  
  footer .PersonalInfo{
    position: relative;
    display: flex;
    color: #006983;
    left: 0;
    bottom: 0;
    margin-left: 0.3rem;
  }