<article>
    <section id="projects-sector">
      <div class="academic-sector">
        <div class="typewriterProjects">
          <p>Personal Projects</p>
          <span class="horizontalLine"></span>
        </div>
        <div class="cardContainer">
          <a class="cardProjectContainerStyle" href="https://github.com/Aguslxrd/systemBotValhalla-v1-deprecated" target="_blank">
            <img src="../../../assets/img/icons8-logotipo-de-la-discordia-240.webp" alt="Card Discord Bot">
            <p class="titleProject">Discord bot (C#)</p>
          </a>                
          <a class="cardProjectContainerStyle" href="https://github.com/Aguslxrd/web-inmobiliaria-estatica" target="_blank">
            <img src="../../../assets/img/icons8-web-96.webp" alt="Card Web Inmobiliaria">
            <p class="titleProject">Web Inmobiliaria (HTML,CSS,JS)</p>
          </a>                
          <a class="cardProjectContainerStyle" href="https://github.com/Aguslxrd/portfolio-damiansuffo" target="_blank">
            <img src="../../../assets/img/portfolio-screen.webp" alt="Card portfolio" class="portfolioIMG">
            <p class="titleProject">Portfolio (HTML,CSS,JS)</p>
          </a>
        </div>
      </div>
    </section>
  </article>