<article>
    <section id="projects-sector">
      <div class="academic-sector">
        <div class="typewriterProjects">
          <p>Proyectos Personales</p>
          <span class="horizontalLine"></span>
        </div>
        <div class="cardContainer">
          <a class="cardProjectContainerStyle" href="https://github.com/Aguslxrd/ZTrucking" target="_blank">
            <img src="../../../assets/img/Zblanca.png" alt="Card ZTrucking Project">
            <p class="titleProject">ZTrucking</p>
          </a>                
          <a class="cardProjectContainerStyle" href="https://github.com/Aguslxrd/livelyutils-demo" target="_blank">
            <img src="../../../assets/img/lively-utils-no-background.png" alt="Card Web LivelyUtils">
            <p class="titleProject">LivelyUtils</p>
          </a>
          <a class="cardProjectContainerStyle" href="https://github.com/Aguslxrd/portfolio-angular-y-spring" target="_blank">
            <img src="../../../assets/img/portfolio-screen.webp" alt="Card portfolio" class="portfolioIMG">
            <p class="titleProject">Portfolio</p>
          </a>
        </div>
      </div>
    </section>
  </article>