<div class="containerUsers">
  <h2>Usuarios</h2>
  <button class="refresh-button" (click)="refreshData()">Actualizar Lista</button>

  <ul class="person-list">
    <li *ngFor="let item of data" class="person-item">
      {{ item.firstname }} {{ item.lastname }} - {{ item.email }} - {{ item.isadmin }}
      <button (click)="deleteUser(item.id)">Eliminar</button>
      <button (click)="editUserForm(item.id)">Editar</button>
    </li>
  </ul>
</div>

<!-- Edit Form -->
<form *ngIf="editingUserId !== null" (ngSubmit)="submitForm()" class="user-form">
  <h2>Editar Usuario</h2>
  <label for="editFirstname">Nombre:</label>
  <input type="text" id="editFirstname" [(ngModel)]="editUser.firstname" name="editFirstname" required>

  <label for="editLastname">Apellido:</label>
  <input type="text" id="editLastname" [(ngModel)]="editUser.lastname" name="editLastname" required>

  <label for="editEmail">Correo electrónico:</label>
  <input type="email" id="editEmail" [(ngModel)]="editUser.email" name="editEmail" required>

  <button type="submit">Guardar Cambios</button>
  <button type="button" (click)="cancelEdit()">Cancelar</button>
</form>
