<div class="container-sectors">
    <article>
        <div class="container-sectors">
            <section id="academic-sector">
                <div href="#academicSector" class="projects">
                  <div class="academic-sector">
                    <div class="typewriterSkills">
                        <p>Tecnologias y Herramientas</p>
                        <span class="horizontalLine"></span>
                      </div>
                    <div class="img-container">
                      <div class="cardContainer">
                        <div class="card2">
                          <img src="../../../assets/img/angular.png" alt="angular logo">
                        </div>
                        <div class="card3">
                          <img src="../../../assets/img/icons8-spring-boot-96.webp" alt="springboot logo">
                        </div>
                        <div class="card4">
                          <img src="../../../assets/img/netframeworkpng.png" alt="dotnet logo">
                        </div>
                        <div class="card5">
                          <img src="../../../assets/img/icons8-c-sharp-logotipo-240.webp" alt="cSharp logo">
                        </div>
                        <div class="card6">
                          <img src="../../../assets/img/icons8-git-240.webp" alt="Git Logo">
                        </div>
                        <div class="card7">
                          <img src="../../../assets/img/scrum-logo.webp" alt="Scrum Logo">
                        </div>
                        <div class="card8">
                          <img src="../../../assets/img/logo-mysql.webp" alt="Mysql Logo">
                        </div>
                        <div class="card9">
                          <img src="../../../assets/img/linux-logo.webp" alt="Linux Logo">
                        </div>
                        <div class="card10">
                          <img src="../../../assets/img/icons8-docker-logo-96.webp" alt="Docker Logo">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>