<div class="container-sectors">
    <article>
      <div class="academic-sector">
        <div class="typewriterSkills">
          <p>Tecnologías y Herramientas</p>
          <span class="horizontalLine"></span>
        </div>
        <div class="img-container">
          <div class="cardContainer">
            <div class="cardSkill">
              <img src="../../../assets/img/angular.png" alt="Angular Logo">
              <span class="skillLabel">Angular</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/icons8-spring-boot-96.webp" alt="Spring Boot Logo">
              <span class="skillLabel">Spring Boot</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/netframeworkpng.png" alt=".NET Logo">
              <span class="skillLabel">.NET</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/icons8-c-sharp-logotipo-240.webp" alt="C# Logo">
              <span class="skillLabel">C#</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/icons8-git-240.webp" alt="Git Logo">
              <span class="skillLabel">Git</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/scrum-logo.webp" alt="Scrum Logo">
              <span class="skillLabel">Scrum</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/logo-mysql.webp" alt="MySQL Logo">
              <span class="skillLabel">MySQL</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/linux-logo.webp" alt="Linux Logo">
              <span class="skillLabel">Linux</span>
            </div>
            <div class="cardSkill">
              <img src="../../../assets/img/icons8-docker-logo-96.webp" alt="Docker Logo">
              <span class="skillLabel">Docker</span>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>