<div class="container-sectors">
    <article>
        <div class="container-sectors">
            <section id="academic-sector">
                <div href="#academicSector" class="projects">
                  <div class="academic-sector">
                    <div class="typewriterSkills">
                        <p>Tecnologias y Herramientas</p>
                        <span class="horizontalLine"></span>
                      </div>
                    <div class="img-container">
                      <div class="cardContainer">
                        <div class="card2">
                          <img src="../../../assets/img/angular.png" alt="Card 2">
                        </div>
                        <div class="card3">
                          <img src="../../../assets/img/icons8-spring-boot-96.png" alt="Card 3">
                        </div>
                        <div class="card4">
                          <img src="../../../assets/img/netframeworkpng.png" alt="Card 4">
                        </div>
                        <div class="card5">
                          <img src="../../../assets/img/icons8-c-sharp-logotipo-240.webp" alt="Card 5">
                        </div>
                        <div class="card6">
                          <img src="../../../assets/img/icons8-git-240.webp" alt="Card 6">
                        </div>
                        <div class="card7">
                          <img src="../../../assets/img/scrum-logo.webp" alt="Card 7">
                        </div>
                        <div class="card8">
                          <img src="../../../assets/img/logo-mysql.webp" alt="Card 8">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>